---
import { Image } from 'astro:assets';
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("intentions", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, basic_content } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div
          class="sm:col-5 md:col-4"
          style="background:gray; text-algin:center; "
        >
          <p style="color:#000; ">IMAGE HERE</p>
          {
            image && (
              <div class="img-cover mb-8">
                <Image
                  src={image}
                  width={295}
                  height={395}
                  alt={title}
                  class="w-full rounded-lg"
                />
              </div>
            )
          }
        </div>
        <div class="sm:col-7 md:col-8">
          <h1 set:html={markdownify(title)} class="h3 mb-8" />

          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <h3 class="page-heading mb-20">{basic_content.title}</h3>
      <div class="row gy-4 justify-center text-center">
        {
          basic_content.items.map((item: any) => (
            <div class="md:col-6 lg:col-4">
              <i class="{{.icon}} fa-3x text-primary mb-4" />
              <h4 class="font-weight-700 mb-3 text-dark">
                <a href={item.url}>{item.title}</a>
              </h4>
              <p>{item.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
