---
import { Image } from "@astrojs/image/components";
import Share from "@components/Share.astro";
import SimilarPosts from "@components/SimilarPosts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import dateFormat from "@lib/utils/dateFormat";
import similerItems from "@lib/utils/similarItems";
import { humanize, markdownify, slugify } from "@lib/utils/textConverter";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi/index.js";

const posts = await getSinglePage("posts");
const { post } = Astro.props;
const similarPosts = similerItems(post, posts, post.slug);
const { Content } = await post.render();
const { title, description, categories, image, date, tags } = post.data;
---

<section class="section">
  <div class="container">
    <article class="row justify-center">
      <div class="text-center md:col-10">
        <h1 set:html={markdownify(title)} />
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          <li class="mx-3 flex flex-wrap items-center font-medium">
            <BiCalendarEdit className="mr-1 h-5 w-5 text-gray-600" />
            <>{dateFormat(date)}</>
          </li>
          <li class="mx-3 flex flex-wrap items-center">
            <BiCategoryAlt className="mr-1 h-[18px] w-[18px] text-gray-600" />
            <>
              <ul>
                {
                  categories.map((category: string, i: number) => (
                    <li class="inline-block">
                      <a
                        href={`/categories/${slugify(category)}`}
                        class="mr-2 font-medium hover:text-primary"
                      >
                        {humanize(category)}
                        {i !== post.data.categories.length - 1 && ","}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </>
          </li>
        </ul>
        <ul class="mt-4 flex flex-wrap items-center justify-center text-text">
          {
            tags.map((tag: string) => (
              <li class="inline-block">
                <a
                  href={`/tags/${slugify(tag)}`}
                  class="block rounded-lg bg-theme-light px-4 py-2 text-sm font-medium text-dark transition duration-300 hover:text-primary"
                >
                  #{humanize(tag)}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <div class="col-12 mb-2 mt-8">
        {
          image && (
            <Image
              src={image}
              height={1200}
              width={1000}
              alt={title}
              class="rounded-lg"
            />
          )
        }
      </div>

      <div class="md:col-10">
        <div class="content mb-16 text-left">
          <p class="text-[1.25rem]">
            {post.data.description}
            <br />
            <p class="pre-heading"></p>
          </p>
          <Content />
        </div>
        <div class="flex flex-wrap items-center justify-between">
          <Share
            className="social-share mb-4"
            title={title}
            description={description}
            slug={post.slug}
          />
        </div>
      </div>
    </article>
  </div>
</section>

<!-- similar posts -->
{
  similarPosts.length > 0 && (
    <section class="section pt-0">
      <div class="container">
        <h2 class="h3 mb-8 text-center">
          Other posts in "{post.data.categories}"
        </h2>
        <SimilarPosts posts={similarPosts.slice(0, 3)} />
      </div>
    </section>
  )
}
